<%= form_for @comment do |f| %>
<%= f.label :content %>
<%= f.text_field :content %>
<%= f.hidden_field :pitch_id, value: @pitch.id%>
<%= f.hidden_field :user_id, value: @user%>
<div id='comment-submit'><%= f.submit %></div>
<% end %>
