<%= form_for @pitch do |f| %>
<div id="form-entries"
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<br>
<div id="form-entries"
  <%= f.label :url %>
  <%= f.text_field :url %>
</div>
<br>
<%= f.submit %>
<% end %>
