<div>
<%= render "/banner" %>
</div>

<div class="bg-2"
  <%= render "/top_pitches" %>
</div>

<div class="bg-3">
  <h3>Most recent 3 pitches</h3>
  <% @pitches.each do |pitch| %>
    <%= link_to pitch.title, pitch %>
    <%= link_to 'Edit', [:edit, pitch] %>
    <%= link_to 'Delete', pitch, method: :delete%>
    <%= link_to 'Comments', comments_path(pitch_id: pitch.id)%>
    <%= link_to 'Vote', votes_path(pitch_id: pitch.id), method: :post %>
    Vote Count: <%= pitch.votes.count %>

    <%= pitch.url%>
    <br>
  <% end %>
</div>


