<br>
<center><h2><%= @pitch.title %></h2>
  <div class="wrapper clearfix">
    <div id="video">
      <iframe width="512" height="385" src=<%= @pitch.url %> frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="backing">
      <div class="progress">
        <div class="progress-bar" style="width: 60%;"></div>
      </div>
      <ul>
        <p>Vote Count <%= @votes %> | 10 days left</p>
      </ul>
      <div id="progress_bg" class="small">
        <div id="progress" class style="width: 0.0%;"></div>
      </div>
      <div id="vote_button">
<%= link_to 'Vote', pitch_vote_path(pitch_id: @pitch.id), method: :post, class: "btn btn-primary" %>
  </div>
<br>

    <div id="create_comment">
      <%= link_to 'Create Comment', new_comment_path(pitch_id: @pitch.id) %>
    </div>



<div id="comment_list" align="center">
  <ul style="list-style: none">
    <% @comments.each do |comment|%>
      <li><%= comment.content %>
          <%= link_to 'Edit', [:edit, comment]%>
          <%= link_to 'Delete', comment, method: :delete %></li>
    <% end %>
  </ul>
</div>
</center>




