<%= render "/intro" %>

<%= render "/top_pitches" %>
<h3>Most recent 3 pitches</h3>
<% @pitches.each do |pitch| %>
  <%= link_to pitch.title, pitch %>
  <%= link_to 'Edit', [:edit, pitch] %>
  <%= link_to 'Delete', pitch, method: :delete%>
  <%= link_to 'Comments', comments_path(pitch_id: pitch.id)%>
  <%= pitch.url%>
  <br>
<% end %>
