 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li><%= link_to "new pitch", new_pitch_path %></li>
        <li><%= link_to 'add video', new_video_path %></li>
        <li> <%= link_to "Login", log_in_path  %></li>
        <li> <%= link_to "Sign Up", new_user_path %></li>
         <% if session[:user_id] %>
          <li> <%= link_to "Logout", log_out_path  %></li>
          <li> <%= link_to "User Profile", user_path(session[:user_id])  %></li>
        <% end%>
      </ul>
    </div>
  </div>
</nav>


