<!-- Section: about -->
<section id="about" class="home-section text-center">
  <div class="heading-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="section-heading">
            <h2>Top Pitches</h2>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="team boxed-grey">
          <div class="inner">
            <h3><%= link_to @pitches.find(1).title, pitch_path(@pitches.find(1)) %></h3>
            <iframe class="iframe-yt" width="300" height="169" src=<%= @pitches.find(1).url %> frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="team boxed-grey">
          <div class="inner">
            <h3><%= link_to @pitches.second.title, pitch_path(@pitches.second) %></h3>
            <iframe class="iframe-yt" width="300" height="169" src=<%= @pitches.second.url %> frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="team boxed-grey">
          <div class="inner">
            <h3><%= link_to @pitches.third.title, pitch_path(@pitches.third) %></h3>
            <iframe class="iframe-yt" width="300" height="169" src=<%= @pitches.third.url %> frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="team boxed-grey">
          <div class="inner">
             <h3><%= link_to @pitches.fourth.title, pitch_path(@pitches.fourth) %></h3>
            <iframe class="iframe-yt" width="300" height="169" src=<%= @pitches.fourth.url %> frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
     <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="team boxed-grey">
          <div class="inner">
             <h3><%= link_to @pitches.fifth.title, pitch_path(@pitches.fifth) %></h3>
            <iframe class="iframe-yt" width="300" height="169" src=<%= @pitches.fifth.url %> frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="team boxed-grey">
            <div class="inner">
               <h3><%= link_to @pitches.find(6).title, pitch_path(@pitches.find(6)) %></h3>
              <iframe class="iframe-yt" width="300" height="169" src=<%= @pitches.find(6).url %> frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: about -->
